html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-color: #161515;
    color: white;
}

.container{
    .appContainer{
        display: flex;
    }
}
